<link rel="stylesheet" href="{{ 'assets/css/header.css' | relative_url }}">
<div class=nav>
	{% if page.url == "/" %}
		<a href="https://jfto23.github.io/personal_website/" class=current>home</a> / 
	{% else %}
		<a href="https://jfto23.github.io/personal_website/">home</a> / 
	{% endif %}

	{% if page.url == "/resume/" %}
		<a href="https://jfto23.github.io/personal_website/resume" class=current>resume</a> / 
	{% else %}
		<a href="https://jfto23.github.io/personal_website/resume">resume</a> / 
	{% endif %}

	{% if page.url == "/projects/" %}
		<a href="https://jfto23.github.io/personal_website/projects" class=current>projects</a> / 
	{% else %}
		<a href="https://jfto23.github.io/personal_website/projects">projects</a> / 
	{% endif %}

	{% if page.url == "/contact/" %}
		<a href="https://jfto23.github.io/personal_website/contact" class=current>contact</a>
	{% else %}
		<a href="https://jfto23.github.io/personal_website/contact">contact</a>
	{% endif %}
</div>

