<link rel="stylesheet" href="{{ 'assets/css/header.css' | relative_url }}">
<div class=nav>
	{% if page.url == "/" %}
		<a href="{{ '/' | relative_url }}" class=current>home</a> / 
	{% else %}
		<a href="{{ '/' | relative_url }}">home</a> / 
	{% endif %}

	{% if page.url == "/resume/" %}
		<a href="{{ 'resume' | relative_url }}" class=current>resume</a> / 
	{% else %}
		<a href="{{ 'resume' | relative_url }}">resume</a> / 
	{% endif %}

	{% if page.url == "/projects/" %}
		<a href="{{ 'projects' | relative_url }}" class=current>projects</a> / 
	{% else %}
		<a href="{{ 'projects' | relative_url }}">projects</a> / 
	{% endif %}

	{% if page.url == "/contact/" %}
		<a href="{{ 'contact' | relative_url }}" class=current>contact</a>
	{% else %}
		<a href="{{ 'contact' | relative_url }}">contact</a>
	{% endif %}
</div>

