<link rel="stylesheet" href="{{ 'assets/css/header.css' | relative_url }}">
<div class=nav>
	{% if page.url == "/" %}
		<a href="{{ 'index.markdown' | relative_url }}" class=current>home</a> / 
	{% else %}
		<a href="{{ 'index.markdown' | relative_url }}">home</a> / 
	{% endif %}

	{% if page.url == "/resume/" %}
		<a href="{{base.url}}/resume" class=current>resume</a> / 
	{% else %}
		<a href="{{base.url}}/resume">resume</a> / 
	{% endif %}

	{% if page.url == "/projects/" %}
		<a href="/projects" class=current>projects</a> / 
	{% else %}
		<a href="/projects">projects</a> / 
	{% endif %}

	{% if page.url == "/contact/" %}
		<a href="/contact" class=current>contact</a>
	{% else %}
		<a href="/contact">contact</a>
	{% endif %}
</div>

