* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #121212;
	color: #e3e6e8;
	padding: 0px;
	line-height: 1.6;
	font-family: 'Montserrat', sans-serif;
}

a {
	color: #e3e6e8;
	margin-right: 5px;
	font-weight: bold;
}


.main {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 700px;
}

.name {
	margin: 30px 0 20px 0;
	font-weight: bold;
}

.content {
	padding: 10px;
}


img {
	max-width: 700px;
	margin: 5px 0;
}

@media screen and (max-width: 700px) {
	.main {width: 100%;}
	img {max-width: 100%;
}

