body {
	background-color: #1c1e1f;
	color: #e8e6e3;
	font-family: "Montserrat";
	margin-top: 2%;
	margin-bottom: 2%;
	font-size: 14px;
	text-align: center;
	overflow-y: scroll;

}

.maincontainer {
	margin: auto;
	width: 50%;
	display: inline-block;
	text-align: left;
	margin-top: 100px;
}



img {
	max-width:100%;
	max-height:100%;
}

::-webkit-scrollbar {
	background-color: #1c1e1f;
}

::-webkit-scrollbar-corner {
	background-color: #181a1b;
}

::-webkit-scrollbar-thumb {
	background-color: #2f3234;
}

@media only screen and (max-width: 1000px) {
	.maincontainer {
		width: 100%;
	}
}
