<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Jean-François To</title>
	<link rel="stylesheet" href="{{ 'assets/css/page.css' | relative_url }}">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class="main">
		<div class="name">Jean-François To</div>
			{% include header.html %}
			<div class="content">
				{{ content }}
			</div>
	</div>
</body>
</html>
